<script>
	export let data
</script>

<div class="max-w-prose mx-auto">
  <p>
    <img
      class="w-full object-cover h-96"
      src={data.thumbnail.src}
      alt={data.thumbnail.alt}
    />
  </p>
  <h1>{data.title}</h1>
  <p>
    <b>Date</b> {data.date} <b>Category</b> <a href="/#">{data.category}</a>
  </p>
  <p>{data.excerpt}</p>
  <hr />
</div>
<div class="max-w-prose mx-auto">
  <svelte:component this={data.content} />
</div>