---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

let title = 'Blog';
let desc = 'Lorem ipsum dolor sit amet consectetur adipisicing elit.';
let blogs = await getCollection('blog');
blogs.sort((a, b) => b.data.date - a.data.date);
let tags = [...new Set(blogs.flatMap((blog) => blog.data.tags))];
---

<Layout title={title} desc={desc}>
	<div class="mx-auto max-w-prose">
		<h1 class="mb-6 text-center text-2xl font-bold md:text-3xl xl:text-4xl">{title}</h1>
		<p class="mb-6 text-center font-medium md:text-lg xl:text-xl">{desc}</p>
		<p class="mb-8 text-center md:text-lg xl:text-xl">
			<span>Tags </span>
			<a class="font-semibold" href="/blog">All</a>
			{
				tags.map((tag) => {
					return (
						<>
							,{' '}
							<a class="font-semibold" href={`/blog/?tags=${tag}`}>
								{tag}
							</a>
						</>
					);
				})
			}
		</p>
	</div>
	<div>
		{
			blogs.map((blog) => {
				return (
					<div class="mb-4 items-center gap-2 sm:flex" data-tags={blog.data.tags.join(',')}>
						<div class="flex-1">
							<img
								class="h-56 w-full object-cover sm:h-72 md:h-96"
								src={blog.data.thumbnail.src}
								alt={blog.data.thumbnail.alt}
							/>
						</div>
						<div class="flex-1 sm:pl-2">
							<h2 class="mb-2 text-lg font-semibold md:text-xl xl:text-2xl">{blog.data.title}</h2>
							<blockquote class="mb-2 border-l-4 border-gray-200 pl-2 dark:border-gray-700">
								<b>Date</b>{' '}
								<span>
									{new Date(blog.data.date).toLocaleDateString(undefined, {
										day: 'numeric',
										month: 'short',
										year: 'numeric',
										hour: 'numeric',
										minute: '2-digit',
									})}
								</span>
								<b>Tag</b>
								{blog.data.tags.map((tag) => {
									return <a href={`/blog/?tags=${tag}`}>{tag}</a>;
								})}
							</blockquote>
							<p class="mb-2 md:text-lg xl:text-xl">{blog.data.excerpt}</p>
							<div>
								<a class="px-3 text-lg font-semibold" href={`/blog/${blog.slug}`}>
									Read more
								</a>
							</div>
						</div>
					</div>
				);
			})
		}
	</div>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			let searchParams = new URLSearchParams(location.search);
			let blogElems = document.querySelectorAll('[data-tags]');
			let tags = searchParams.get('tags');
			if (tags) {
				blogElems.forEach((elem) => {
					elem.classList.toggle('!hidden', !elem.dataset.tags.split(',').includes(tags));
				});
			}
		});
	</script>
</Layout>

