---
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content';

let title = 'Blog'
let excerpt = 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'
let thumbnail = {
	src: '',
}
let date = '';

const blogs = await getCollection('blog');

// const categories = [...new Set(data.blogs.map(({ category }) => category))];
---

<Layout>
<h1 class="text-center">{title}</h1>
<p class="text-center">
	<b>Categories </b>
	<!-- {#each categories as category, index (`cate-${index}`)}
		<a href="/#">{category}</a>
		{#if index !== categories.length - 1}
			<span>, </span> 
		{/if}
	{/each} -->
</p>
{blogs.map( (blog, index) => (
	<div class="sm:flex items-center" >
		<div class="flex-1">
			<img
				class="w-full object-cover h-56 sm:h-72 md:h-96"
				src={blog.data.thumbnail.src}
				alt={blog.data.thumbnail.alt}
			/>
		</div>
		<div class="flex-1 sm:pl-4">
			<h2>{blog.data.title}</h2>
			<blockquote>
				<b>Date</b> {blog.data.date} <b>Category</b> <a href="/#">{blog.data.tags}</a>
			</blockquote>
			<p>{blog.data.excerpt}</p>
			<p>
				<a href={`/blog/${blog.slug}`}>
					Read more
				</a>
			</p>
		</div>
	</div>
))}
</Layout>