---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

let title = 'Blogs';
let desc = 'Lorem ipsum dolor sit amet consectetur adipisicing elit.';
let blogs = await getCollection('blog');
blogs.sort((a, b) => b.data.date - a.data.date);
let tags = [...new Set(blogs.flatMap((blog) => blog.data.tags))];
---

<Layout title={title} desc={desc}>
	<h1 class="text-center">{title}</h1>
	<div class="mx-auto max-w-prose">
		<p class="text-center">{desc}</p>
		<p class="text-center">
			<span>Tags </span>
			<a class="" href="/blog">All</a>{
				tags.map((tag) => {
					return (
						<span>, <a class="" href={`/blog?tags=${tag}`}>{tag}</a></span>
					);
				})
			}
		</p>
	</div>
	<div>
		{
			blogs.map((blog) => {
				return (
					<div class="mb-4 items-center gap-4 sm:flex" data-tags={blog.data.tags.join(',')}>
						<div class="flex-1">
							<img
								class="h-56 w-full object-cover sm:h-72 md:h-96"
								src={blog.data.thumbnail.src}
								alt={blog.data.thumbnail.alt}
							/>
						</div>
						<div class="flex-1">
							<h2 class="">{blog.data.title}</h2>
							<blockquote class="">
								<b>Date</b> <span>
									{new Date(blog.data.date).toLocaleDateString(undefined, {
										day: 'numeric',
										month: 'short',
										year: 'numeric',
										hour: 'numeric',
										minute: '2-digit',
									})}
								</span>
								<b>Tags</b>
								{blog.data.tags.map((tag) => {
									return <a href={`/blog?tags=${tag}`}>{tag}</a>;
								})}
							</blockquote>
							<p class="">{blog.data.excerpt}</p>
							<p>
								<a class="" href={`/blog/${blog.slug}`}>
									Read more
								</a>
							</p>
						</div>
					</div>
				);
			})
		}
	</div>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			let searchParams = new URLSearchParams(location.search);
			let blogElems = document.querySelectorAll('[data-tags]');
			let tags = searchParams.get('tags');
			if (tags) {
				blogElems.forEach((elem) => {
					let bl = elem.dataset.tags.split(',').includes(tags)
					elem.classList.toggle('hidden', !bl);
					elem.classList.toggle('sm:flex', bl);
				});
			}
		});
	</script>
</Layout>

