---
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content';

let title = 'Blog'
let desc = 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'
let blogs = await getCollection('blog');
let tags = [...new Set(blogs.flatMap((blog) => blog.data.tags))];
---

<Layout title={title} desc={desc}> 
	<div class="max-w-prose mx-auto">
		<h1 class="text-center text-2xl md:text-3xl xl:text-4xl font-bold mb-6">{title}</h1>
		<p class="text-center md:text-lg xl:text-xl font-medium mb-6">{desc}</p>
		<p class="text-center md:text-lg xl:text-xl mb-8">
			<span>Tags </span>
			<a class="font-semibold" href="/blog">All</a>
			{tags.map((tag) => {
				return (
					<>, <a class="font-semibold" href={`/blog/?tags=${tag}`}>{tag}</a></>
				)
			})}
		</p>
	</div>
	<div>
		{blogs.map(blog => {
			return (
			<div class="sm:flex items-center gap-2 mb-4" data-tags={blog.data.tags.join(',')}>
				<div class="flex-1">
					<img
						class="w-full object-cover h-56 sm:h-72 md:h-96"
						src={blog.data.thumbnail.src}
						alt={blog.data.thumbnail.alt}
					/>
				</div>
				<div class="flex-1 sm:pl-2">
					<h2 class="font-semibold text-lg md:text-xl xl:text-2xl mb-2" >{blog.data.title}</h2>
					<blockquote class="pl-2 border-l-4 border-gray-200 dark:border-gray-700 mb-2">
						<b>Date</b> <span >{new Date(blog.data.date).toLocaleDateString(undefined,{day:'numeric',month:'short',year:'numeric', hour:'numeric', minute:'2-digit'})}</span>  
						<b>Tag</b> 
{blog.data.tags.map((tag) => {
						return <a href={`/blog/?tags=${tag}`} >{tag}</a>
						})}
					</blockquote>
					<p class="mb-2 md:text-lg xl:text-xl" >{blog.data.excerpt}</p>
					<div>
						<a class="px-3 font-semibold text-lg" href={`/blog/${blog.slug}`}>
							Read more
						</a>
					</div>
				</div>
			</div>
		)
		})}
	</div>
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		let searchParams = new URLSearchParams(location.search)
		let blogElems = document.querySelectorAll('[data-tags]')
		let tags = searchParams.get('tags')
		if (tags) {
			blogElems.forEach((elem) => {
				elem.classList.toggle('!hidden',!elem.dataset.tags.split(',').includes(tags))
			})
		}
	})
</script>