---
import Layout from '../../layouts/Layout.astro';
import products from '../../products.json'
let title = 'Products';
let desc = 'officiis delectus natus iste quas.';
---
<Layout title={title} desc={desc}>
	<h1 class="text-center">{title}</h1>
	<div class="mx-auto max-w-prose">
		<p class="text-center">{desc}</p>
	</div>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
		{products.map((product) => {
			return (
				<div>
					<a href={`/product/${product.id}`}>
						<img src={product.src} alt={product.alt} />
					</a>
				</div>
			)
		})}
	</div>
</Layout>