---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
let title = 'Train Travel';
let desc = 'Lorem ipsum dolor sit amet consectetur adipisicing elit.';
let image = {
	src: '',
};
let blogs = await getCollection('blog');
blogs.sort((a, b) => b.data.date - a.data.date);
blogs = blogs.slice(0, 4);
---

<Layout title={title} desc={desc}>
	<div class="mx-auto max-w-prose">
		<h1 class="mb-6 text-center text-2xl font-bold md:text-3xl xl:text-4xl">{title}</h1>
		<p class="mb-8 text-center font-medium md:text-lg xl:text-xl">{desc}</p>
	</div>

	<div class="mb-8 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
		{
			blogs.map((blog) => {
				return (
					<div class="lg:last:hidden">
						<img
							class="mb-2 h-48 w-full object-cover md:h-56 lg:h-72"
							src={blog.data.thumbnail.src}
							alt={blog.data.thumbnail.alt}
						/>
						<h2 class="mb-2 text-lg font-semibold md:text-xl xl:text-2xl">{blog.data.title}</h2>
						<blockquote class="mb-2 border-l-4 border-gray-200 pl-2 dark:border-gray-700">
							<b>Date</b>{' '}
							{new Date(blog.data.date).toLocaleDateString(undefined, {
								day: 'numeric',
								month: 'short',
								year: 'numeric',
								hour: 'numeric',
								minute: '2-digit',
							})}
							<b>Tag</b> <a href="/#">{blog.data.tags}</a>
						</blockquote>
						<p class="mb-2 md:text-lg xl:text-xl">{blog.data.excerpt}</p>
						<div class="">
							<a class="px-3 text-lg font-semibold" href={`/blog/${blog.slug}`}>
								Read more
							</a>
						</div>
					</div>
				);
			})
		}
	</div>

	<div class="container mx-auto mb-8 items-center gap-4 sm:flex">
		<div class="flex-1">
			<h2 class="mb-2 text-center text-xl font-semibold sm:mb-6 md:text-2xl xl:text-3xl">
				About Me
			</h2>
			<p class="mb-4 text-center font-medium md:text-lg xl:text-xl">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, in!
			</p>
		</div>
		<div class="flex-1">
			<img
				class="h-96 w-full object-cover object-top"
				src="https://i.imgur.com/iO8RUVr.jpeg"
				alt="Your Photo"
			/>
		</div>
	</div>
</Layout>
