---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import products from '../products.json'
let title = 'Train Travel';
let desc = 'Lorem ipsum dolor sit amet consectetur adipisicing elit.';
let image = {
	src: '',
};
let blogs = await getCollection('blog');
blogs.sort((a, b) => b.data.date - a.data.date);
blogs = blogs.slice(0, 4);
---

<Layout title={title} desc={desc}>
	<h1 class="text-center">{title}</h1>
	<div class="mx-auto max-w-prose">
		<p class="text-center">{desc}</p>
	</div>
	
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
		{
			blogs.map((blog) => {
				return (
					<div class="lg:last:hidden">
						<img
							class="h-48 w-full object-cover md:h-56 lg:h-72"
							src={blog.data.thumbnail.src}
							alt={blog.data.thumbnail.alt}
						/>
						<h2 class="">{blog.data.title}</h2>
						<blockquote class="">
							<b>Date</b> <span>
							{new Date(blog.data.date).toLocaleDateString(undefined, {
								day: 'numeric',
								month: 'short',
								year: 'numeric',
								hour: 'numeric',
								minute: '2-digit',
							})}</span>
							<b>Tags</b> 
							{blog.data.tags.map((tag) => {
								return <a href={`/blog?tags=${tag}`}>{tag}</a>
							})}
						</blockquote>
						<p class="">{blog.data.excerpt}</p>
						<p class="">
							<a class="" href={`/blog/${blog.slug}`}>
								Read more
							</a>
						</p>
					</div>
				);
			})
		}
	</div>

	<div class="container mx-auto items-center gap-4 sm:flex">
		<div class="flex-1">
			<h2 class="text-center">
				About Me
			</h2>
			<p class="text-center">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, in!
			</p>
		</div>
		<div class="flex-1">
			<img
				class="h-96 w-full object-cover object-top"
				src="https://i.imgur.com/iO8RUVr.jpeg"
				alt="Your Photo"
			/>
		</div>
	</div>

	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
		{products.slice(0, 3).map((product) => {
			return (
				<div class="last:hidden lg:last:block">
					<a href={`/product/${product.id}`}>
						<img src={product.src} alt={product.alt} />
					</a>
				</div>
			)
		})}
	</div>
</Layout>
